/E-Commerce-backend/.vs/E-Commerce-Backend/FileContentIndex/*.vsidx
/ecommerce-frontend/node_modules/.bin
/ecommerce-frontend/node_modules/.cache
/ecommerce-frontend/node_modules
/E-Commerce-backend/.vs/E-Commerce-Backend/v17/.suo
/E-Commerce-backend/.vs/E-Commerce-Backend/v17/DocumentLayout.backup.json
/E-Commerce-backend/.vs/E-Commerce-Backend/v17/DocumentLayout.json
/E-Commerce-backend/E-Commerce-with-Integreted-Seller-Dashboard-Comp313-003/bin/Debug/net8.0/E-Commerce-Backend.dll
/E-Commerce-backend/E-Commerce-with-Integreted-Seller-Dashboard-Comp313-003/bin/Debug/net8.0/E-Commerce-Backend.exe
/E-Commerce-backend/E-Commerce-with-Integreted-Seller-Dashboard-Comp313-003/bin/Debug/net8.0/E-Commerce-Backend.pdb
/E-Commerce-backend/E-Commerce-with-Integreted-Seller-Dashboard-Comp313-003/obj/Debug/net8.0/E-Commerce-Backend.AssemblyInfo.cs
/E-Commerce-backend/E-Commerce-with-Integreted-Seller-Dashboard-Comp313-003/obj/Debug/net8.0/E-Commerce-Backend.AssemblyInfoInputs.cache
/E-Commerce-backend/E-Commerce-with-Integreted-Seller-Dashboard-Comp313-003/obj/Debug/net8.0/E-Commerce-Backend.dll
/E-Commerce-backend/E-Commerce-with-Integreted-Seller-Dashboard-Comp313-003/obj/Debug/net8.0/E-Commerce-Backend.pdb
/E-Commerce-backend/E-Commerce-with-Integreted-Seller-Dashboard-Comp313-003/obj/Debug/net8.0/E-Commerce-Backend.sourcelink.json
/E-Commerce-backend/E-Commerce-with-Integreted-Seller-Dashboard-Comp313-003/obj/Debug/net8.0/apphost.exe
/E-Commerce-backend/E-Commerce-with-Integreted-Seller-Dashboard-Comp313-003/obj/Debug/net8.0/ref/E-Commerce-Backend.dll
/E-Commerce-backend/E-Commerce-with-Integreted-Seller-Dashboard-Comp313-003/obj/Debug/net8.0/refint/E-Commerce-Backend.dll
/E-Commerce-backend/E-Commerce-with-Integreted-Seller-Dashboard-Comp313-003/bin/Debug/net8.0/*.dll
/E-Commerce-backend/TestForBackendAPI/obj/TestForBackendAPI.csproj.nuget.dgspec.json
/E-Commerce-backend/TestForBackendAPI/obj/TestForBackendAPI.csproj.nuget.g.props
/E-Commerce-backend/TestForBackendAPI/obj/TestForBackendAPI.csproj.nuget.g.targets
/E-Commerce-backend/TestForBackendAPI/obj/project.assets.json
/E-Commerce-backend/TestForBackendAPI/obj/project.nuget.cache
/E-Commerce-backend/.vs/E-Commerce-Backend/DesignTimeBuild/*.v2
